.container {
  padding-top: 50px;
  margin-top: 90px;
  
}

body {
  background-image: url("https://www.hdwallpapers.in/download/deep_space_4k-3840x2160.jpg");
}

h1,h2 {
  color: #e4e82c;
}

p,
strong {
  color: #e8d22c;
}

.guess-region {
  padding: 60px 0 0 0;
}

.padding {
  padding: 0px 0 40px 0;
  
}

#left {
  color: white;
}

